.main{
  display: flex;
  justify-content: space-between;
  .articleList{
    width:80%;
    padding:0 1rem;
    li:nth-child(1){
      display: flex;
      justify-content: space-between;
      span{
        padding: 0 .2rem;
      }
    }
  }
  .sidebar_box{
    width:20%;
  }
}